.clock {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -60px auto 0 auto;
    font-size: 60px;
    font-family: Verdana, Arial, Sans-serif;
    text-align: center;
    color: #fff;
  }
  .clock span {
    display: inline;
    margin: 0 auto;
    list-style: none;
  }

  html {
    height: 100%;
  }
  body {
    background: #1f1f1f;
  }
